<div class="blog-header">
    <h1 class="blog-title">Listing posts</h1>
  <p class="lead blog-description">The example of creating a blog with Rails and Bootstrap.</p>
</div>

<div class="blog-post">
  <%= render 'post' %>
</div>