<div class="blog-header">
  <h1 class="blog-title">View post</h1>
  <p class="lead blog-description">Here you can view your post.</p>
</div>

<%= render 'post' %>
<%= render @post.comments %>
<%= render 'comments/form' %>