<p>Title: <%= @post.title %></p>
<p>Content: <%= @post.body %></p>
<p><%= image_tag @post.image.data_url if @post.image %></p>

<% if @post_tags %>
    <div>
      <p>Tags:</p>
      <% @post_tags.each do |tag| %>
          <%= link_to tag.name, tag %>
      <% end %>
    </div>
<% end %>